.idea
.idea/*
/log
*.iml
.project
.classpath
.settings
*/target
*/.settings
*/.classpath
*/.project
*/*.iml
*/*.ipr
*/*.iws
*/build
.DS_Store
*/logs
*/log
*/scripts/*.pyc
*/scripts/*.*~
src/main/webapp/WEB-INF/classes
src/main/resources/META-INF/persistence.xml
src/main/webapp/META-INF/
*/src/main/webapp/WEB-INF/decorators/jsdep.inc
*/src/main/webapp/WEB-INF/decorators/jsdep_debug.inc
*/src/main/webapp/static/js/site_js_dep.js
*/src/main/webapp/WEB-INF/decorators/revision.properties
target
.bpmn
src/test/java/test/
src/main/java/test/
src/test/resources/application-context-20150724.xml
